@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed');
$robotoC: "Roboto Condensed", sans-serif;
$robotoM: "Montserrat", sans-serif;
$brightOrange: #fb7e00;
$dimOrange: #fa7d00;
$darkOrange: #ea6a00;
$mango: #feaf00;
$cinemaList: #6b6a6b;
$commentText:#777777 ;
$contentColor:#e7e7e7;
$iconcColor: #c3c3c3;
$greyishWhite: #cccccc;
$iconBackground: #464c50;
$footerText: #646464;
